@{
    ViewData["title"] = "Cadastro | Contrato";
}

<h2>Registro de contratos</h2>
<hr />

@model MVCApplication.Models.ContratoViewModel

@{
    var disabled = (Model.IdCliente == null) ? "disabled" : string.Empty;
}

<form asp-controller="Contrato" asp-action="Cadastro" method="post">
    <div class="form-group">
        <div class="col-4">
            <label>Número Contrato</label>
            <input type="text" asp-for="Numero" value="@Model.Numero" class="form-control" input-lg readonly />
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Selecione a placa do veículo</label>
            <select asp-for="Placa" asp-items="@Model.ListaVeiculos" class="form-control" input-lg></select>
            <span asp-validation-for="Placa" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Selecione um cliente do cadastro</label>
            <select asp-for="IdCliente" asp-items="@Model.ListaClientes" class="form-control" input-lg></select>
            <span asp-validation-for="IdCliente" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data da contratação</label>
            <input asp-for="Data" type="date" value="@Model.Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data prevista devolução</label>
            <input asp-for="DataPrevisaoDevolucao" type="date" value="@Model.DataPrevisaoDevolucao" class="form-control" />
            <span asp-validation-for="DataPrevisaoDevolucao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data da devolução</label>
            <input asp-for="DataDevolucao" type="date" value="@Model.DataDevolucao" class="form-control" />
        </div>
    </div>
    <div class="col-4"><label>Valor</label></div>
    <div class="input-group mb-3 col-4">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input asp-for="Valor" type="text" value="@Model.Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
        <div class="input-group-append">
            <span class="input-group-text">.00</span>
        </div>

    </div>

    <br />
    <div class="col">
        <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
        <button type="submit" class="btn btn-success">Gravar</button>
        <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.IdCliente)" @disabled>Excluir</button>
    </div>

</form>
<script>
    function Novo() {
        Request("Cadastro");
    }
    function Listagem() {
        Request("");
    }
    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo);
    }
    function Request(request) {
        window.location = window.origin + "\\Contrato\\" + request;
    }
</script>