@{
    ViewData["title"] = "Cadastro | Contrato";
}

<h2>Contratos</h2>
<hr />

@model MVCApplication.Models.ContratoViewModel
 
@{
    var disabled = (Model.IdCliente == null) ? "disabled" : string.Empty;
}

<form asp-controller="Contrato" asp-action="Cadastro" method="post">
    <input type="text" asp-for="Numero" value="@Model.Numero" />

    <div class="form-group">
        <div class="col-4">
            <label>Cliente Cadastrado</label>
            <select asp-for="IdCliente" asp-items="@Model.ListaClientes" class="form-control" input-lg></select>
            <span asp-validation-for="IdCliente" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data da contratação</label>
            <input asp-for="DataContratacao" type="date" value="@Model.DataContratacao" class="form-control" />
            <span asp-validation-for="DataContratacao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data prevista devolução</label>
            <input asp-for="DataPrevistaDevolucao" type="date" value="@Model.DataPrevistaDevolucao" class="form-control" />
            <span asp-validation-for="DataPrevistaDevolucao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Data da Devolução</label>
            <input asp-for="DataDevolucao" type="date" value="@Model.DataDevolucao" class="form-control" />
            <span asp-validation-for="DataDevolucao" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Valor</label>
            <input asp-for="Valor" type="text" value="@Model.Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="col">
        <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
        <button type="submit" class="btn btn-success">Gravar</button>
        <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.IdCliente)" @disabled>Excluir</button>
    </div>
    
</form>
<script>
    function Novo() {
        Request("Cadastro");
    }
    function Listagem() {
        Request("");
    }
    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo);
    }
    function Request(request) {
        window.location = window.origin + "\\Contrato\\" + request;
    }
</script>