@{
    ViewData["title"] = "Contrato";
}
@model List<MVCApplication.Models.ContratoViewModel>;

<h2>Contrato</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:#f6f6f6">
            <th>Número contrato</th>
            <th>Placa</th>
            <th>Id cliente</th>
            <th>Data da contratação</th>
            <th>Data prevista para devolução</th>
            <th>Data da devolução</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Editar(@item.Numero)" style="cursor:pointer;">
                <td>@item.Numero</td>
                <td>@item.Placa</td>
                <td>@item.IdCliente</td>
                <td>@item.Data</td>
                <td>@item.DataPrevisaoDevolucao</td>
                <td>@item.DataDevolucao</td>
                <td>@item.Valor</td>
            </tr>
        }
    </tbody>
</table>
<br />

<button type="button" class="btn btn-block btn-primary" onclick="Cadastrar()">Cadastrar Contrato</button>

<script>
    function Editar(Codigo) {
        window.location = window.origin + "\\Contrato\\Cadastro\\" + Codigo;
    }
    function Cadastrar() {
        window.location = window.origin + "\\Contrato\\Cadastro";
    }
</script>